<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('partials/navbar') %>
        <div class="row">
            <div class="container mx-4 p-0">
                <div class="row mt-5">
                    <div class="col-12 col-md-4">
                        <img class="w-100" src="<%= product.image %>" alt="">
                        <div class="card my-5" id="card-history-top">
                            <div class="card-header">
                                <h3 class="text-center">Histori penawaran</h3>
                            </div>
                            <div class="card-body"  style="max-height: 200px; overflow:hidden; overflow-y:scroll;">
                                <ul class="list-group">
                                    <% if (histories.length === 0) { %>
                                        <p class="text-center">Saat ini belum ada yang menawar</p>
                                    <% } else { %>
                                        <% for (history of histories) { %>
                                            <% if (history.user.id === me_id) { %>
                                                <li class="list-group-item list-group-item-success">
                                                    <strong>Anda</strong> menawar sebesar Rp.<%= formatPrice(history.price) %> pada <%= history.created_at.format('DD MMM YYYY') %> pukul <%= history.created_at.format('HH:mm') %> WIB.
                                                </li>
                                            <% } else { %>
                                                <li class="list-group-item list-group-item-success">
                                                    <%= history.user.name %> menawar sebesar Rp.<%= formatPrice(history.price) %> pada <%= history.created_at.format('DD MMM YYYY') %> pukul <%= history.created_at.format('HH:mm') %> WIB.
                                                </li>
                                            <% } %>
                                        <% } %>
                                     <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 p-0">
                        <h2 class="text-center text-md-left"><%= product.name %></h2>
                        <p class="text-justify text-md-left"><%= product.description %></p>
                        <br>
                        <p class="my-0">Pelelang:</p>
                        <p class="font-weight-bold"><%= product.owner.name %></p>
                        <p class="my-0">Berakhir pada:</p>
                        <% if (product.status !== 'selesai') { %>
                            <p class="font-weight-bold"> <%= product.end_date.format('DD MMM YYYY') %>, pukul <%= product.end_date.format('HH:mm') %> WIB</p>
                        <% } else { %> 
                            <p class="font-weight-bold">Pelelangan telah selesai</p>
                        <% } %>
                        <% if (product.owner.id === me_id) { %>
                            <% if (histories.length !== 0) { %>
                                <a href="#" data-product-id="<%= product.id %>" class="btn btn-primary" id="end-bid">
                                    Akhiri lelang
                                </a>
                            <% } else if (product.status === 'selesai') { %>
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" title="Pelelangan telah berakhir">
                                    <a href="#" style="pointer-events: none;" data-product-id="<%= product.id %>" class="btn btn-primary disabled" aria-disabled="true">
                                        Akhiri lelang
                                    </a>
                                </span>
                                
                            <% } else { %>
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" title="Belum ada yang menawar">
                                    <a href="#" style="pointer-events: none;" data-product-id="<%= product.id %>" class="btn btn-primary disabled" aria-disabled="true">
                                        Akhiri lelang
                                    </a>
                                </span>
                            <% } %>
                        <% } else { %>
                            <% if (product.status !== 'selesai') { %>
                                <a href="#" data-product-id="<%= product.id %>" data-bid-price="<%= bidPrice %>" class="btn btn-primary" id="bid">
                                    Tawar Rp.<%= formatPrice(bidPrice) %>
                                </a>
                            <% } else { %>
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" title="Belum ada yang menawar">
                                    <a href="#" data-product-id="<%= product.id %>" data-bid-price="<%= bidPrice %>" class="btn btn-primary disabled">
                                        Tawar Rp.<%= formatPrice(bidPrice) %>
                                    </a>
                                </span>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="col-12" id="card-history-bottom">
                        <div class="card my-5">
                            <div class="card-header">
                                <h3 class="text-center">Histori penawaran</h3>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <% if (histories.length === 0) { %>
                                        <p class="text-center">Saat ini belum ada yang menawar</p>
                                    <% } else { %>
                                        <% for (history of histories) { %>
                                            <% if (history.user.id === me_id) { %>
                                                <li class="list-group-item list-group-item-success">
                                                    <strong>Anda</strong> menawar sebesar Rp.<%= formatPrice(history.price) %> pada <%= history.created_at.format('DD MMM YYYY') %> pukul <%= history.created_at.format('HH:mm') %> WIB.
                                                </li>
                                            <% } else { %>
                                                <li class="list-group-item list-group-item-success">
                                                    <%= history.user.name %> menawar sebesar Rp.<%= formatPrice(history.price) %> pada <%= history.created_at.format('DD MMM YYYY') %> pukul <%= history.created_at.format('HH:mm') %> WIB.
                                                </li>
                                            <% } %>
                                        <% } %>
                                     <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="js/checklogin.js"></script>
    <script src="js/auction-room.js"></script>
</body>

</html>