<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('partials/navbar') %>
        <div class="row">
            <div class="col-12">
                <% if (products.length > 0) { %>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                    <% for (let i = 0; i < products.length; i++) { %>
                    <div class="col my-3">
                        <div class="card mb-2 shadow-sm h-100 overflow-hidden" id="product-card"
                            data-id=<%= products[i].id %>>
                            <div class="card-img-top overflow-hidden">
                                <% if (products[i].status === 'selesai') { %>
                                    <img class="card-img-top" id="selesai" src="<%= products[i].image %>" alt="<%= products[i].name %>">
                                <% } else { %>
                                    <img class="card-img-top" src="<%= products[i].image %>" alt="<%= products[i].name %>">
                                <% } %>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title my-2"><%= products[i].name %></h5>
                                <% if (products[i].description.split(' ').length < 20) { %>
                                    <p style="font-size: 12px;"><%= products[i].description %></p>
                                <% } else { %>
                                    <p style="font-size: 12px;"><%= products[i].description.split(' ').filter((word, index) => index <= 20).join(' ') %>...</p>
                                <% } %>
                                <p class="text-muted my-0" style="font-size: 12px;">Pelelang</p>
                                <% if (products[i].user.id !== logged_in_id) { %>
                                    <p class="my-0"><%= products[i].user.name %></p>
                                <% } else { %>
                                    <p class="my-0">Anda</p>
                                <% } %>
                                <p class="text-muted my-0" style="font-size: 12px;">Mulai dari</p>
                                <h6 class="text-bold mb-2">Rp
                                    <%= products[i].multiplier.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h6>
                                <p class="text-muted mb-0" style="font-size: 12px;">Berakhir pada</p>
                                <% if (products[i].status !== 'selesai') { %>
                                    <h6 class="text-bold"><%= products[i].end_date.format('DD MMM YYYY') %>, pukul
                                        <%= products[i].end_date.format('HH:mm') %> WIB</h6>
                                <% } else { %>
                                    <h6 class="text-bold">Telah Berakhir (<%= products[i].end_date.format('DD MMM YYYY') %>, pukul
                                        <%= products[i].end_date.format('HH:mm') %> WIB)</h6>
                                <% } %>
                            </div>
                            <div class="card-footer text-center">
                                <% if (products[i].user.id !== logged_in_id && logged_in_id !== 'admin1234567890') { %>
                                    <% if (products[i].status !== 'selesai') { %>
                                        <p class="my-0"><a href="/auction-room?id=<%= products[i].id %>" class="btn btn-primary">Tawar</a></p>
                                    <% } else { %>
                                        <p class="my-0"><a href="/auction-room?id=<%= products[i].id %>" class="btn btn-primary">Lihat Lelang</a></p>
                                    <% } %>
                                <% } else { %>
                                    <p class="my-0"><a href="/auction-room?id=<%= products[i].id %>" class="btn btn-primary">Lihat Lelang</a></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } else { %>
                    <h3 class="text-muted text-center mt-5">Tidak ada produk yang bisa ditampilkan</h3>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="js/checklogin.js"></script>
    <script src="js/dashboard.js"></script>
</body>

</html>