<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('partials/navbar') %> 
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <% for (notification of notificationsList) { %>
                            <a href="/auction-room?id=<%= notification.product.id %>" class="text-decoration-none text-dark">
                                <div class="card my-5 shadow-sm">
                                    <div class="row no-gutters">
                                        <div class="col-md-2 h-100">
                                            <img class="w-100 card-image-top" src='<%= notification.product.image %>' alt='<%= notification.product.name %>'>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body h-100">
                                                <p class="card-title align-middle"><%= notification.message %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="js/checklogin.js"></script>
    <script src="js/dashboard.js"></script>
</body>

</html>