<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('partials/navbar') %>
        <div class="row" style="height: 100vh;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <% if (sold.length > 0) { %>
                            <% for (solded of sold) { %>
                                <a href="/auction-room?id=<%= solded.id %>" class="text-decoration-none text-dark">
                                    <div class="card my-5 shadow-sm">
                                        <div class="row no-gutters">
                                            <div class="col-md-4 h-100">
                                                <img class="w-100" src="<%= solded.image %>" alt="<%= solded.name %>">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body h-100">
                                                    <h3 class="card-title"><%= solded.name %></h3>
                                                    <% if (solded.winner === null) { %>
                                                        <h6>Tidak ada pemenang</h6>
                                                    <% } else { %>
                                                        <h6>Pemenang:</h6>
                                                        <h5 class="font-weight-bold"><%= solded.winner.name %></h5>
                                                    <% } %>    
                                                    <h6>Harga terakhir:</h6>
                                                    <h5 class="font-weight-bold">Rp. <%= solded.latest_bid.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                        <% } else { %>
                            <h3 class="text-muted text-center">Anda belum membuat pelelangan atau pelelangan anda belum berakhir</h3>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <script src="js/checklogin.js"></script>
    <script src="js/dashboard.js"></script>
</body>

</html>